*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.search{
    width: 600px;
    height: 200px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
}
label{
    margin-left: 15px;
}
#title,#type{
    width: 440px;
    height: 50px;
    margin-top: 10px;
    margin-left: 90px;
}
#searchBtn{
    margin-top: 10px;
    margin-left: 15px;
    width: 570px;
    height: 50px;    
}
#films{
    overflow: hidden;
}
.film{
    display: inline-block;
}
.card{
    min-width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 12px;
}
.info{
    width: 210px;
    height: 140px;
    margin-left: 10px;
    text-align: center;
}
#miniPoster{
    min-width: 160px;
    min-height: 180px;
    max-width: 160px;
    max-height: 180px;
    border-radius: 9px;
}
.details{
    margin-top: 10px;
    width: 80px;
}
#detailsView{
    width: 730px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fullPoster{
    width: 300px;
    height: 480px;
    border-radius: 12px;
}
.filmInfo{
    width: 430px;
    height: 480px;
    margin-left: 20px;
}
.line{
    min-width: 430px;
    max-width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headers{
    max-width: 130px;
    min-width: 130px;
    margin-bottom: 10px;
}
.items{
    max-width: 300px;
    min-width: 300px;
    margin-bottom: 10px;
}